.nav [type="checkbox"] {
  display: none;
}

.nav label.label__menu {
  display: none;
  padding: 15px 40px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.nav label.label__menu .fa {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  /* .bg-light {
        background: #fff;
    } */

  .show .nav__link {
    background: #ffff;
    color: #000;
  }

  .img__header {
    width: 60%;
  }

  .navbar .show .nav__link {
    background: #fff;
  }

  /* .navbar-toggler:not(.collapsed) {
        background: #000;
    } */

  .header {
    height: 80vh;
  }

  .header:before,
  .header:after {
    height: 128vh;
  }

  .header:before {
    left: 80px;
    top: 10px;
  }

  .header:after {
    left: -120px;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0;
  }

  .hamburger {
    display: block;
  }

  .nav__list {
    display: block;
  }

  .nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 2rem 2rem;
    left: 0;
    transform: translateX(-100%);
    background: #1b264b;
    z-index: 200;
    text-align: center;
    transition: .3s;
  }

  .nav__list.is-active {
    transform: translateX(0);
  }

  .nav__link {
    display: block;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
  }

  .nav__item {
    border-bottom: 1px solid #444;
  }

  .header:before,
  .header:after {
    height: 80vh;
  }

  .header:after {
    left: -87px;
    top: -36x;
  }

  .img__header {
    width: 70%;
    top: calc(125% - 400px);
  }

  .nav {
    overflow: hidden;
  }


  .nav li {
    color: #000;
  }

  .nav a {
    color: #fff;
    padding: 5px;
  }

  .nav label.label__menu {
    display: block;
  }

  .fa {
    margin-left: 2rem;
  }


  .header {
    height: 70vh;
  }

  /* .header:before,
    .header:after {
        height: 500px;
    } */

  input.input__menu:checked+label.label__menu {
    background: #ffff;
    color: #000;
  }

  input.input__menu:checked~ul {
    padding: 10px;
    display: block;
    background: #ffff;
    color: red;
    max-height: 100%;
    transition: 1s;
  }

  .body {
    text-align: center;
  }

  .body__block1 {
    display: block;
  }

  .body__block2 {
    display: flex;
    align-items: center;
  }

  .body__container {
    padding: 0 3rem;
  }

  .img__block2 {
    position: static;
  }

  .body__block3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .body__block4 {
    text-align: center;
  }

  .block5 {
    margin: 0;
  }

  .block6__images {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
  }

  .header {
    height: 50vh;
  }

  .header:before,
  .header:after {
    height: 70vh;
  }

  .header:after {
    left: -76px;
    top: -26px;
  }

  .img__header {
    width: 70%;
    top: calc(190% - 400px);
  }

  .body__block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .body__block3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .body__block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img__block2 {
    position: static;
  }

  .body__block3 {
    text-align: center;
  }

  .body__block4 {
    text-align: center;
  }

  .block5 {
    margin: 0;
  }

  .block6__images {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {

  .header:before,
  .header:after {
    height: 75vh;
  }

  .header:after {
    left: -76px;
    top: -30px;
  }

  .nav {
    margin-left: 3rem;
  }

  .header {
    height: 50vh;
  }

  .navbar-toggler {
    position: relative;
    left: 80px;
  }

  .nav__link {
    position: relative;

  }

  .show .nav__link {
    background: #ffff;
    color: #000;
  }

  .body {
    margin: 0;
    padding: 0;
  }

  .body__block1 {
    margin: 18rem 0;
  }

  .body__block2 {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .img__block2 {
    position: static;
  }

  .body__block3 {
    text-align: center;
  }

  .body__block4 {
    text-align: center;
  }

  .block5 {
    margin: 0;
  }

  .block6__images {
    margin: 0;
  }

  .img__header {
    width: 70%;
    top: calc(190% - 400px);
  }

  .logo {
    position: relative;
    top: 0;
    left: 20px;
  }

  .block1 {
    width: 100%;
  }

  .block4 {
    width: 100%;
  }

  .block5 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .header:before,
  .header:after {
    height: 69vh;
  }

  .header:after {
    left: -70px;
    top: -20px;
  }

  .nav {
    margin-left: 3rem;
  }

  .header {
    height: 50vh;
  }

  .navbar-toggler {
    position: relative;
    left: 80px;
  }

  .nav__link {
    position: relative;
  }

  .show .nav__link {
    background: #ffff;
    color: #000;
  }

  .body {
    margin: 0;
    padding: 0;
  }

  .body__block2 {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  .img__block2 {
    position: static;
  }

  .body__block3 {
    text-align: center;
  }

  .body__block4 {
    text-align: center;
  }

  .block5 {
    margin: 0;
  }

  .block6__images {
    margin: 0;
  }

  .img__header {
    width: 70%;
    top: calc(200% - 400px);
  }

  .logo {
    position: relative;
    top: 0;
    left: 30px;
  }

  .block1 {
    width: 100%;
  }

  .block4 {
    width: 100%;
  }

  .block5 {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .header:before,
  .header:after {
    height: 70vh;
  }

  .header:after {
    left: -70px;
    top: -20px;
  }

  .header {
    height: 50vh;
  }

  .img__header {
    width: 70%;
    top: calc(220% - 400px);
  }

  .logo {
    position: relative;
    top: 0;
    left: 20px;
  }

  .nav__list {
    padding: 2rem 1rem;
  }

  .body__block1 {
    padding: 0rem;
  }

  .body__block3 {

    background: white;
    padding: 7rem 0rem;
  }

  .block1 {
    width: 100%;
  }

  .block4 {
    width: 100%;
  }

  .block5 {
    width: 100%;
  }
}